body {
	background-color: blue;
	font-family: sans-serif;
	font-color:green;
	font-size: 59px
	text-align: center; 
}
button {
	font-size: 100px;

}
h1 {
	color:blue;
}

button {
	font-size:50px;

}

